<div>
    <h2>Habilidades</h2>
    <div>
        <div class="container-knl">
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="liderazgo" [readonly]="true" valueColor="#1e3163" rangeColor="SlateGray"></p-knob>
                <h4>Liderazgo</h4>
                <!-- <div class="name">
                </div> -->
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="resolucion" [readonly]="true" valueColor="#86c232" rangeColor="SlateGray"></p-knob>
                <h4>Resolución</h4>
                <!-- <div class="name">
                </div> -->
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="trabajo" [readonly]="true" valueColor="#30a5ff" rangeColor="SlateGray"></p-knob>
                <h4>Trabajo en Equipo</h4>
                <!-- <div class="name">
                </div> -->
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="programacion" [readonly]="true" valueColor="#005b96" rangeColor="SlateGray"></p-knob>
                <h4>Programación</h4>
                <!-- <div class="name">
                </div> -->
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="adaptabilidad" [readonly]="true" valueColor="#98D9CB" rangeColor="SlateGray"></p-knob>
                <h4>Adaptabilidad</h4>
                <!-- <div class="name">
                </div> -->
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="creatividad" [readonly]="true" valueColor="#aa4b6b" rangeColor="SlateGray"></p-knob>
                <h4>Creatividad</h4>
                <!-- <div class="name">
                </div> -->
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="comunicativo" [readonly]="true" valueColor="#ff6f61" rangeColor="SlateGray"></p-knob>
                <h4>Comunicativo</h4>
                <!-- <div class="name">
                </div> -->
            </div>
        </div>
    </div>
    <h2>Conocimientos</h2>
    <div>
        <h3>Lenguajes</h3>
        <div class="container-knl">
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="java" [readonly]="true" valueColor="Orange" rangeColor="SlateGray"></p-knob>
                <div class="name">
                    <h4>JAVA</h4>
                    <img src="../../../assets/imgs/java.png" alt="Java logo">
                </div>
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="python" [readonly]="true" valueColor="MediumTurquoise" rangeColor="SlateGray"></p-knob>
                <div class="name">
                    <h4>Python</h4>
                    <img src="../../../assets/imgs/python.png" alt="Python logo">
                </div>
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="c_mas" [readonly]="true" valueColor="MediumTurquoise" rangeColor="SlateGray"></p-knob>
                <div class="name">
                    <h4>C++</h4>
                    <img src="../../../assets/imgs/c_mas.png" alt="C++ logo">
                </div>
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="js" [readonly]="true" valueColor="Yellow" rangeColor="SlateGray"></p-knob>
                <div class="name">
                    <h4>JavaScript</h4>
                    <img src="../../../assets/imgs/js.png" alt="Javascript logo">
                </div>
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="ts" [readonly]="true" valueColor="#295bac" rangeColor="SlateGray"></p-knob>
                <div class="name">
                    <h4>TypeScript</h4>
                    <img src="../../../assets/imgs/ts.png" alt="Typescript logo">
                </div>
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="html" [readonly]="true" valueColor="Yellow" rangeColor="SlateGray"></p-knob>
                <div class="name">
                    <h4>HTML</h4>
                    <img src="../../../assets/imgs/html.png" alt="HTML logo">
                </div>
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="css" [readonly]="true" valueColor="Cyan" rangeColor="SlateGray"></p-knob>
                <div class="name">
                    <h4>CSS</h4>
                    <img src="../../../assets/imgs/css.png" alt="CSS logo">
                </div>
            </div>
        </div>    
    </div>
    <div>
        <h3>Frameworks</h3>
        <div class="container-knl">
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="angular" [readonly]="true" valueColor="#720505" rangeColor="SlateGray"></p-knob>
                <div class="name">
                    <h4>Angular</h4>                
                    <img src="../../../assets/imgs/angular.png" alt="Angular logo">
                </div>
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="Flask" [readonly]="true" valueColor="#000000" rangeColor="SlateGray"></p-knob>
                <div class="name">
                    <h4>Flask</h4>
                    <img src="../../../assets/imgs/flask.png" alt="Flask logo">
                </div>
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="django" [readonly]="true" valueColor="Green" rangeColor="SlateGray"></p-knob>
                <div class="name">
                    <h4>Django</h4>
                    <img src="../../../assets/imgs/django.png" alt="Django logo">
                </div>
            </div>            
        </div>    
    </div>
    <div>
        <h3>Base de Datos</h3>
        <div class="container-knl">
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="postgres" [readonly]="true" valueColor="#295bac" rangeColor="SlateGray"></p-knob>
                <div class="name">
                    <h4>PostgreSQL</h4>                
                    <img src="../../../assets/imgs/postgres.png" alt="Postgres logo">
                </div>
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="mysql" [readonly]="true" valueColor="Cyan" rangeColor="SlateGray"></p-knob>
                <div class="name">
                    <h4>MySQL</h4>
                    <img src="../../../assets/imgs/mysql.png" alt="MySQL logo">
                </div>
            </div>
            <div class="knl">
                <p-knob [showValue]="false" [(ngModel)]="oracle" [readonly]="true" valueColor="Red" rangeColor="SlateGray"></p-knob>
                <div class="name">
                    <h4>Oracle</h4>
                    <img src="../../../assets/imgs/oracle.png" alt="Oracle logo">
                </div>
            </div>            
        </div>    
    </div>
</div>
