<div>
    <h2>Habilidades</h2>
    <div>
        <div class="container-knl">
            <div class="habilidad knl">
                <h4>Liderazgo</h4>
                <div class="nivel intermedio">Intermedio</div>
            </div>
            <div class="habilidad knl">
                <!-- <p-knob [showValue]="false" [(ngModel)]="resolucion" [readonly]="true" valueColor="#86c232" rangeColor="SlateGray"></p-knob> -->
                <h4>Resolución</h4>
                <div class="nivel avanzado">Avanzado</div>
            </div>
            <div class="habilidad knl">
                <h4>Trabajo en Equipo</h4>
                <div class="nivel avanzado">Avanzado</div>
            </div>
            <div class="habilidad knl">
                <h4>Programación</h4>
                <div class="nivel avanzado">Avanzado</div>
            </div>
            <div class="habilidad knl">
                <h4>Adaptabilidad</h4>
                <div class="nivel intermedio">Intermedio</div>
            </div>
            <div class="habilidad knl">
                <h4>Creatividad</h4>
                <div class="nivel intermedio">Intermedio</div>
            </div>
            <div class="knl">
                <!-- <p-knob [showValue]="false" [(ngModel)]="comunicativo" [readonly]="true" valueColor="#ff6f61" rangeColor="SlateGray"></p-knob> -->
                <h4>Comunicativo</h4>
                <div class="nivel intermedio">Intermedio</div>
            </div>
        </div>
    </div>
    <h2>Conocimientos</h2>
    <div>
        <h3>Lenguajes</h3>
        <div class="container-knl">
            <div class="habilidad knl">
                <div class="name">
                    <h2>Java</h2>
                    <img src="../../../assets/imgs/java.png" alt="Java logo">
                </div>
                <div class="nivel avanzado">Avanzado</div>
            </div>
            <div class="habilidad knl">
                <div class="name">
                    <h2>Python</h2>
                    <img src="../../../assets/imgs/python.png" alt="Python logo">
                </div>
                <div class="nivel avanzado">Avanzado</div>
            </div>
            <div class="habilidad knl">
                <div class="name">
                    <h2>C++</h2>
                    <img src="../../../assets/imgs/c_mas.png" alt="C++ logo">
                </div>
                <div class="nivel basico">Básico</div>
            </div>
            <div class="habilidad knl">
                <div class="name">
                    <h2>JavaScript</h2>
                    <img src="../../../assets/imgs/js.png" alt="Javascript logo">
                </div>
                <div class="nivel basico">Básico</div>
            </div>
            <div class="habilidad knl">
                <div class="name">
                    <h2>TypeScript</h2>
                    <img src="../../../assets/imgs/ts.png" alt="Typescript logo">
                </div>
                <div class="nivel avanzado">Avanzado</div>
            </div>
            <div class="habilidad knl">
                <div class="name">
                    <h2>HTML</h2>
                    <img src="../../../assets/imgs/html.png" alt="HTML logo">
                </div>
                <div class="nivel avanzado">Avanzado</div>
            </div>
            <div class="habilidad knl">
                <div class="name">
                    <h2>CSS</h2>
                    <img src="../../../assets/imgs/css.png" alt="CSS logo">
                </div>
                <div class="nivel intermedio">Intermedio</div>
            </div>
        </div>    
    </div>
    <div>
        <h3>Frameworks</h3>
        <div class="container-knl">
            <div class="habilidad knl">
                <div class="name">
                    <h2>Angular</h2>                
                    <img src="../../../assets/imgs/angular.png" alt="Angular logo">
                </div>
                <div class="nivel avanzado">Avanzado</div>
            </div>
            <div class="habilidad knl">
                <div class="name">
                    <h2>Flask</h2>
                    <img src="../../../assets/imgs/flask.png" alt="Flask logo">
                </div>
                <div class="nivel intermedio">Intermedio</div>
            </div>
            <div class="habilidad knl">
                <div class="name">
                    <h2>Django</h2>
                    <img src="../../../assets/imgs/django.png" alt="Django logo">
                </div>
                <div class="nivel basico">Básico</div>
            </div>            
        </div>    
    </div>
    <div>
        <h3>Base de Datos</h3>
        <div class="container-knl">
            <div class="habilidad knl">
                <div class="name">
                    <h2>PostgreSQL</h2>
                    <img src="../../../assets/imgs/postgres.png" alt="Postgres logo">
                </div>
                <div class="nivel avanzado">Avanzado</div>
            </div>
            <div class="habilidad knl">
                <div class="name">
                    <h2>MySQL</h2>
                    <img src="../../../assets/imgs/mysql.png" alt="MySQL logo">
                </div>
                <div class="nivel avanzado">Avanzado</div>
            </div>
            <div class="habilidad knl">
                <div class="name">
                    <h2>Oracle</h2>
                    <img src="../../../assets/imgs/oracle.png" alt="Oracle logo">
                </div>
                <div class="nivel basico">Básico</div>
            </div>            
        </div>    
    </div>
</div>
