.container-about{
    font-size: 1.3rem;
    text-align: justify;
}

.resaltado {
    background-color: #173759;
    color: #fff;
    padding: 2px 4px;
    border-radius: 5px;
  }

.title {
    display: flex;
    gap: 1.3rem;
}
  