<div class="container-about">
    <p>
        Saludos, soy Bryam Eduardo Parra Zambrano, ingeniero en Ciencias de la Computación graduado de la Universidad Politécnica 
        Salesiana.
    </p>
    <p>
        Mi pasión por la tecnología y su impacto en la sociedad me ha llevado al emocionante mundo del desarrollo de software. 
        Me encuentro en constante aprendizaje y me encanta aplicar mis conocimientos en la creación de aplicaciones web, móviles y
        de escritorio.
    </p>
    <p>
        Mis sólidos conocimientos en lenguajes de programación como <span class="resaltado">JAVA</span>, <span class="resaltado">Python</span> y <span class="resaltado">C++</span> me permiten abordar proyectos desafiantes. 
        Además, estoy comprometido en ampliar mis habilidades en lenguajes y frameworks de uso global. Como persona, me caracterizo
        por ser sociable y colaborador, lo que me facilita trabajar en equipos interdisciplinarios.
    </p>    
    <p>
        Soy <span class="resaltado">entusiasta, proactivo y siempre estoy dispuesto a aprender y crecer como desarrollador </span>. Mi objetivo es contribuir a la 
        sociedad mediante la creación de soluciones tecnológicas útiles y ser un ingeniero que marque la diferencia.
    </p>
</div>
