<header>
  <div class="banner-container">
    <img src="assets/imgs/banner.png" alt="Banner presentación">
  </div>
</header>
<main class="main">
  <section class="section-resumen">
    <div>
      <h1>Bryam Eduardo Parra</h1>
      <h3>Ingenieria en Ciencias de la Computación</h3>
      <p>Emocionado por un mundo lleno de tecnología, soy un programador con conocimientos en ciertos lenguajes y que le apasiona el desarrollo.</p>
      <div class="img">
        <img class="img-persona" src="assets/imgs/img_persona.jpg" alt="Muestra de persona">
      </div>
    </div> 
    <div class="container-menu">
      <a routerLink="/about" class="opcion-menu">
        <i class="pi pi-info-circle"></i>
        <h3>Sobre Mi</h3>
      </a>
      <a routerLink="/proyectos" class="opcion-menu">
        <i class="pi pi-folder-open"></i>
        <h3>Mis Proyectos</h3>
      </a>
      <!-- <a href="/curriculum" class="opcion-menu">
        <i class="pi pi-file"></i>
        <h3>curriculum</h3>
      </a> -->
      <a routerLink="/skills" class="opcion-menu">
        <i class="pi pi-cog"></i>        
        <h3>Mis habilidades y conocimientos</h3>
      </a>
      <a routerLink="/contacto" class="opcion-menu">
        <i class="pi pi-whatsapp"></i>        
        <h3>Contacto</h3>
      </a>
    </div>
  </section>
  <section class="section-componentes">
    <div>
      <router-outlet></router-outlet>
    </div>
  </section>  
</main>
<footer>
  <h4>Creado por Bryam Parra</h4>
  <div class="footer_links">
    <a id="git" href="https://github.com/Bryambepz">
      <img src="assets/imgs/git.png" alt="GitHub">
    </a>
    <a id="lnkd" href="https://www.linkedin.com/in/bryam-parra-01439a214/">
      <img src="assets/imgs/linkedin.png" alt="LinkedIn">
    </a>
    <a id="gmail" href="mailto:bryamparra2709@gmail.com">
      <img src="assets/imgs/gmail.png" alt="Gmail">
    </a>
  </div>
</footer>



