<header>
  <div class="banner-container">
    <img src="../assets/imgs/banner.png" alt="Banner presentación">
  </div>
</header>
<main class="main">
  <section class="section-resumen">
    <div>
      <h1>Bryam Eduardo Parra</h1>
      <h3>Ingenieria en Ciencias de la Computación</h3>
      <p>Emocionado por un mundo lleno de tecnología, soy un programador con conocimientos en ciertos lenguajes que le apasiona el desarrollo web</p>
      <div>
        <img class="img-persona" src="../assets/imgs/img_persona.jpg" alt="Muestra de persona">
      </div>
    </div> 
    <div class="container-menu">
      <a href="/about" class="opcion-menu">
        <i class="pi pi-info-circle"></i>
        <h3>Sobre Mi</h3>
      </a>
      <a href="/proyectos" class="opcion-menu">
        <i class="pi pi-folder-open"></i>
        <h3>Mis Proyectos</h3>
      </a>
      <a href="/skills" class="opcion-menu">
        <i class="pi pi-cog"></i>        
        <h3>Mis habilidades y conocimientos</h3>
      </a>
      <a href="/contacto" class="opcion-menu">
        <i class="pi pi-whatsapp"></i>        
        <h3>Contactenme</h3>
      </a>
    </div>
  </section>
  <section class="section-componentes">
    <div>
      <router-outlet></router-outlet>
    </div>
  </section>  
</main>
<footer>
  redes sociales
  <h3>Creado por Bryam Parra</h3>
</footer>



