<div class="container_card">
    <div>
        <h1>Sistema de control de Consultas Medicas <strong>(Trabajo Universitario)</strong></h1>
        <div class="container_descrip">
            <img class="img" width="350" src="../../../assets/gifs/cons_medicas.gif" alt="Control de Consultas">
            <div>
                <div class="text">
                    <p>Sistema de control de consultas médicas con seguimiento de pacientes y médicos en Angular y
                        NodeJS</p>
                    <div class="contaniner_links">
                        <a class="links" href="https://github.com/Bryambepz/front-consultas-medicas">
                            <h4>GitHub</h4>
                            <img src="../../../assets/imgs/git.png" alt="Logo Github">
                        </a>
                    </div>
                    <p class="lenguajes">
                        <span class="container_leng">Angular</span>
                        <span class="container_leng">CSS</span>
                        <span class="container_leng">TypeScript</span>
                        <span class="container_leng">NodeJS</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h1>Sistema para Análisis de Sentimientos de actores políticos en Ecuador con ChatGPT <strong>(Tesis)</strong>
        </h1>
        <div class="container_descrip">
            <img class="img" width="350" src="../../../assets/gifs/analisis_sent.gif"
                alt="Sistema de analisis de sentimientos">
            <div>
                <div class="text">
                    <p>Sistema para análisar sentimientos empleando ChatGPT como herramienta de Procesamiento de
                        Lenguaje Natural (PLN),
                        Desarrollado en Angular y Flask</p>
                    <p>Por temas de privacidad con la Universidad no se puede publicar el Repositorio GitHub</p>
                    <p class="lenguajes">
                        <span class="container_leng">Angular</span>
                        <span class="container_leng">CSS</span>
                        <span class="container_leng">TypeScript</span>
                        <span class="container_leng">Python</span>
                        <span class="container_leng">Docker</span>
                        <span class="container_leng">ChatGPT</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h1>Sistema para para el control de carreras para una compania de transporte mixto en Cuenca<strong>(Proyecto
                Privado)</strong></h1>
        <div class="container_descrip">
            <img class="img" width="350" src="../../../assets/gifs/controlsystemtrip.jpeg" alt="Sistema de control de carreras">
            <div>
                <div class="text">
                    <p>Sistema para análisar sentimientos empleando ChatGPT como herramienta de Procesamiento de
                        Lenguaje Natural (PLN),
                        Desarrollado en Angular y Flask</p>
                    <p>Por temas de privacidad con la Universidad no se puede publicar el Repositorio GitHub</p>
                    <p class="lenguajes">
                        <span class="container_leng">Angular</span>
                        <span class="container_leng">CSS</span>
                        <span class="container_leng">TypeScript</span>
                        <span class="container_leng">Python</span>
                        <span class="container_leng">Docker</span>
                        <span class="container_leng">ChatGPT</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
<!-- 
    <div>
        <h1>Sistema para para el control de carreras para una compania de transporte mixto en Cuenca<strong>(Proyecto
                Privado)</strong></h1>
        <div class="container_descrip">
            <img class="img" width="350" src="../../../assets/gifs/nulmetro.gif" alt="Sistema de control de carreras">
            <div>
                <div class="text">
                    <p>El sistema permite a una secretaria o personal autorizado registrar choferes, vehículos, clientes
                        y sectores donde se requieren los servicios. Además, facilita la generación de informes sobre la
                        cantidad de carreras realizadas en un período determinado. También permite gestionar la
                        asignación de turnos obligatorios para los choferes y sus respectivos vehículos.
                    </p>
                    <p>Por temas de protección del sistema realizado no se puede publicar el Repositorio GitHub. En caso
                        de estar interesado contactarse a mi correo</p>
                    <p class="lenguajes">
                        <span class="container_leng">Angular</span>
                        <span class="container_leng">CSS</span>
                        <span class="container_leng">TypeScript</span>
                        <span class="container_leng">SpringBoot</span>
                        <span class="container_leng">MySql</span>
                        <span class="container_leng">Docker</span>
                    </p>
                </div>
            </div>
        </div>
    </div> -->
</div>