<div class="container_card">
     <div>
        <h2>Desarrollo de un Sistema de control de Consultas Medicas <strong>(Trabajo Universitario)</strong></h2>
        <div class="container_descrip">
            <img class="img" width="350" src="../../../assets/gifs/cons_medicas.gif" alt="Control de Consultas">
            <div>                
                <div class="text">
                    <p>Sistema de control de consultas médicas con seguimiento de pacientes y médicos en Angular y NodeJS</p>
                    <div class="contaniner_links">
                        <a class="links" href="https://github.com/Bryambepz/front-consultas-medicas">
                            <h4>GitHub</h4>
                            <img src="../../../assets/imgs/git.png" alt="Logo Github">
                        </a>
                    </div>
                    <p>
                        <span class="container_leng">Angular</span>
                        <span class="container_leng">CSS</span>
                        <span class="container_leng">TypeScript</span>
                        <span class="container_leng">NodeJS</span>
                    </p>
                </div>
            </div>
        </div>
     </div>
     
     <div>
        <h2>Desarrollo de un Sistema para Análisis de Sentimientos de actores políticos en Ecuador con ChatGPT <strong>(Tesis)</strong></h2>
        <div class="container_descrip">
            <img class="img" width="350" src="../../../assets/gifs/analisis_sent.gif" alt="Control de Consultas">
            <div>                
                <div class="text">
                    <p>Sistema para análisar sentimientos empleando ChatGPT como herramienta de Procesamiento de Lenguaje Natural (PLN),
                        Desarrollado en Angular y Flask</p>
                    <p>Por temas de privacidad con la Universidad no se puede publicar el Repositorio GitHub</p>
                    
                    <!-- <div class="contaniner_links">
                                            <a class="links" href="https://github.com/Bryambepz/front-consultas-medicas">
                                                <h4>GitHub</h4>
                                                <img src="../../../assets/imgs/git.png" alt="Logo Github">
                                            </a>
                                        </div> -->
                    <p>
                        <span class="container_leng">Angular</span>
                        <span class="container_leng">CSS</span>
                        <span class="container_leng">TypeScript</span>
                        <span class="container_leng">Python</span>
                        <span class="container_leng">ChatGPT</span>
                    </p>
                </div>
            </div>
        </div>
     </div>
     
     <div>
        <h2>Desarrollo de un Sistema para Análisis de Sentimientos de actores políticos en Ecuador con ChatGPT <strong>(Tesis)</strong></h2>
        <div class="container_descrip">
            <img class="img" width="350" src="../../../assets/gifs/analisis_sent.gif" alt="Control de Consultas">
            <div>                
                <div class="text">
                    <p>Sistema para análisar sentimientos empleando ChatGPT como herramienta de Procesamiento de Lenguaje Natural (PLN),
                        Desarrollado en Angular y Flask</p>
                    <div class="contaniner_links">
                        <a class="links" href="https://github.com/Bryambepz/front-consultas-medicas">
                            <h4>GitHub</h4>
                            <img src="../../../assets/imgs/git.png" alt="Logo Github">
                        </a>
                    </div>
                    <p>
                        <span class="container_leng">Angular</span>
                        <span class="container_leng">CSS</span>
                        <span class="container_leng">TypeScript</span>
                        <span class="container_leng">Python</span>
                        <span class="container_leng">ChatGPT</span>
                    </p>
                </div>
            </div>
        </div>
     </div>
</div>