/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
//   background: radial-gradient(circle, #091366c4, #030938);
    // background-color: rgb(225, 20, 20);
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.6)), url('assets/imgs/fondo_page2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: rgb(255, 255, 255);
}

footer {
  background-color: beige;
}